.classpath
.project
/.settings/
*.class
*.jar
*.war
*.ear
/bin/
/target/
/.metadata/
IMS/.classpath
IMS/.project
IMS/.settings/
IMS/*.class
IMS/*.jar
IMS/*.war
IMS/*.ear
IMS/bin/
IMS/target/
IMS/.metadata/
Catalogue/.classpath
Catalogue/.project
Catalogue/.settings/
Catalogue/*.class
Catalogue/*.jar
Catalogue/*.war
Catalogue/*.ear
Catalogue/bin/
Catalogue/target/
Catalogue/.metadata/