/*!
* Alex

 */
 
 .cataloguerow{
 position:relative;
 float:left;
 
 }
 
 .cataloguescale{
 min-width:318px;
 min-height:159px;
 max-width:318px;
 max-height:159px;
 width: auto;
 height: auto;
 }
 
 .description{
  colour: white;
  float:left;
 }
 
 .imageArea{
 width:50%;
 }
 .desc{
 width:50%;
 }